<!DOCTYPE html>
<html lang="en">
<head>
  <title>FreshCart - eCommerce HTML Template</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/auth/login.css">
</head>
<body>
    <div class="border-bottom shadow-sm">
      <nav class="navbar navbar-light py-2">
        <div class="container">
          <a href="/" class="back">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
              <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
            </svg>
          </a>
        </div>
      </nav>
    </div>
    <section class="my-lg-14 my-8">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="logo">
            <img src="/assets/images/logo/image.png" class="logo_image">
          </div>
          <div class="login">
            <a th:href="${location}"><img src="/assets/images/login/kakao_login_medium_narrow.png" class="login_button"></a>
            <img src="/assets/images/login/btnG_완성형.png" class="login_button">
          </div>
        </div>
      </div>
    </section>
</body>

</html>