<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
  <footer class="footer" style="background-color: #FFFFFF; margin-top: 10px;">
    <div class="container">
      <div class="py-4">
        <div class="row align-items-center">
          <div class="col-md-6">
            <p class="small text-muted">Copyright 2024 © WannaV eCommerce. All rights reserved.</p>
            <p class="small text-muted">상호명 및 호스팅 서비스 제공: WannaV(주)</p>
            <p class="small text-muted">서울시 강남구 삼성로 534 SAC 아트홀 6층</p>
          </div>
        </div>

      </div>
    </div>
  </footer>
</div>
</html>