a,
a:hover {
  text-decoration: none;
  color: inherit;
  display: block;
}

a:hover {
  opacity: 0.8;
}

.category {
  list-style: none;
  padding: 0;
}

.category-item {
  display: inline-block;
  background-color: #FFFFFF;
  padding: 10px;
  text-align: center;
  margin-right: 10px;
  border-radius: 15px;
}

.category-item.selected {
  background-color: #c6e7ce;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.product-item {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: 5px;
  text-align: center;
}

.product-item img {
  border-radius: 5px;
  width: 100%;
  height: 165px;
  object-fit: cover;
}

.product-info-container {
  margin: 0 5px;
}

.product-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.product-discount-rate {
  font-size: 15px;
  font-weight: bold;
  color: #5aab6f;
  text-align: left;
}

.price-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.selling-price {
  font-size: 10px;
  color: #adb5bd;
  text-decoration: line-through;
}

.final-price {
  font-size: 17px;
  font-weight: bold;
}

.product-name {
  margin: 0;
  padding: 0 5px 5px 5px;
  font-size: 15px;
  text-align: left;
}
